<form class="form-horizontal">
    <h3>Favorite Printers</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Online</th>
            </tr>
        </thead>
        <tbody>
            {{#each printer in model}}
                <tr>
                    <td>{{input type="checkbox"}}</td>
                    <td>{{printer.id}}</td>
                    <td>{{printer.name}}</td>
                    <td>{{#if printer.online}}Online{{else}}Offline{{/if}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{#link-to "index" }}<button type="button" class="btn btn-primary">Back</button>{{/link-to}}
    {{#link-to "job.detail" }}<button type="button" class="btn btn-primary">Next</button>{{/link-to}}
</form>